.inv-title {
    text-align: center;
}

.inv-add-item-button {
    margin-bottom: 5px;
}

.flex {
    display: flex;
}

.item-detail-btn {
    margin: 5px;
}

.image {
    width: 250px;
    margin: 10px;
}

Button {
    height: 38px;
}

.item-detail-btn-container {
    align-items: flex-end;
}