.inv-title {
    text-align: center;
    font-size: xx-large;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Helvetica;
}

.inv-add-item-button {
    margin-bottom: 5px;
    background-color: #3bb7ff !important;
    border: 1px solid #3bb7ff !important;
}

.inv-add-item-button:hover {
    background-color: #0097ed !important;
}

.flex {
    display: flex;
}

.item-detail-btn {
    margin: 0 0 !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    background-color: #3bb7ff !important;
    border: 1px solid #3bb7ff !important;
}

.item-detail-btn:hover {
    background-color: #0097ed !important;
}

.image {
    width: 250px;
    margin: 10px;
}

Button {
    height: 38px;
}

.item-detail-btn-container {
    align-items: flex-end;
}

.address-select {
    height: 38px;
    width: 100%;
    border-radius: .25rem;
    border: 1px solid #ced4da;
}

input[type=text]:focus, textarea:focus, select:focus, Button:focus {
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid #3bb7ff;
}

tbody > tr:hover {
    color: #0097ed !important;
}

thead > tr > th {
    font-weight: 500;
}

.highlighted-row {
    color: #0097ed !important;
}

Button {
    margin: 5px !important;
}

/* add item */

.inv-add-item-form {
    margin-top: 10px;
    margin-right: 15%;
    margin-left: 15%;
    display: flex;
    min-width: 600px;
}

.inv-add-item-form__inputs {
    width: 100%;
}

.inv-add-item-form__inputs > * {
    margin-bottom: 10px;
}

.inv-add-item-form__labels {
    width: 200px;
}

.inv-add-item-form__labels > div {
    height: 38px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item-detail {
    margin: 0 15%;
}

/* edit item */

.edit-item {
    margin: 0 15%;
}

.edit-item__labels-inputs {
    display: flex;
}

.edit-item__labels > div {
    height: 38px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: 200px;
}

.edit-item__inputs {
    width: 100%;
}

.edit-item__inputs > * {
    margin-bottom: 10px;
}

/* manage item type */
.manage-item-type {
    margin: 0 15%;
}

.add-item-type {
    display: flex;
}

.add-item-type__label {
    width: 200px;
}

.add-item-type__input {
    width: 100%;
}

.add-item-type__input > * {
    margin-bottom: 10px;
}

/* manage addresses */

.manage-addresses {
    margin: 0 15%;
}

.add-address__labels-inputs {
    display: flex;
}

.add-address__labels > * {
    width: 200px;
    height: 38px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.add-address__inputs {
    width: 100%;
}

.add-address__inputs > * {
    margin-bottom: 10px;
}
