.navbar {
    background-color: #3bb7ff !important;
    justify-content: space-between !important;
}

.nav-title {
    font-size: x-large;
    color: rgba(255,255,255,.5);
}

.nav-search-btn {
    color: rgba(255,255,255,.5) !important;
}

.nav-search-btn:hover {
    color: #f7f9fa !important;
    background-color: #3bb7ff !important;
}